{% extends "base.html" %}
{% block title %}Ingredients{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-primary" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container ingredients-full-cont">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <h4>Add Ingredients</h4>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Traductions or tags</label>
                        <input name="tags" type="text" class="form-control" id="tags" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="col col-lg-8">
            <div class="container">
                <h4>Search for ingredients</h4>
            </div>
        </div>
    </div>
    </div>
{% endblock %}