{% extends "base.html" %}
{% block title %}Ingredients{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-primary" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container ingredients-full-cont">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <h4>Add Ingredients</h4>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Traductions or tags</label>
                        <input name="tags" type="text" class="form-control" id="tags" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <div class="col col-lg-8">
            <div class="container">
                <h4>Search for ingredients</h4>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Traductions or tags</label>
                        <input name="tags" type="text" class="form-control" id="tags" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="container ingredients-full-cont">
                <ul class="list-group">
                    <li class="list-group-item active">All ingredients</li>
                    {% for ing in ingList %}
                        <li class="list-group-item">
                            <h5 style="display: inline;">{{ing.get('name')}}</h5>
                            {% if not ing.get('tags') == None%}
                                {{ing.get('tags')}}
                            {% endif %}
                        {% if isLogged %}
                            <form action="{{ url_for('ingredients.add_to_user') }}" method="POST" style="display: inline;">
                                <button class="btn btn-outline-primary button-list-right" name="value" type="submit" value="{{ ing.get('name') }}">Add</button>
                            </form>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}