{% extends "base.html" %}
{% block title %}Meals{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-primary" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container ingredients-full-cont">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <h4>Add Meals</h4>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Traductions or tags</label>
                        <input name="tags" type="text" class="form-control" id="tags" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Time in minutes</label>
                        <input name="time" type="number" class="form-control" id="tags" aria-describedby="emailHelp" required>
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <div class="col col-lg-8">
            <div class="container">
                <h4>Search for Meals</h4>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Traductions or tags</label>
                        <input name="tags" type="text" class="form-control" id="tags" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Time in minutes</label>
                        <input name="time" type="number" class="form-control" id="tags" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="customRange2">Rate</label>
                        <input name="rate" type="range" class="custom-range" min="0" max="5" id="customRange2">
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="container ingredients-full-cont">
                <ul class="list-group">
                    <li class="list-group-item active">All meals</li>
                    {% for meal in mealsList %}
                        <li class="list-group-item">
                            <h4>{{meal.get('name')}}</h4>
                            <p class="m-0">
                                {% for ing in meal.get('ingredients') %}
                                    {{ing.get('name')}},
                                {% endfor %}
                            </p>
                            <p class="m-0">
                                {% for taste in meal.get('tastes') %}
                                    {{taste}},
                                {% endfor %}
                            </p>
                            <p class="m-0">
                                {% for kind in meal.get('kinds') %}
                                    {{kind}},
                                {% endfor %}
                            </p>
                            <p class="m-0">
                                {% for style in meal.get('styles') %}
                                    {{style}},
                                {% endfor %}
                            </p>
                            <p>
                                {% if not meal.get('tags') == None%}
                                    {{meal.get('tags')}}
                                {% endif %}
                                {% if not meal.get('time') == None%}
                                    {{meal.get('time')}}
                                {% endif %}
                                {% if not meal.get('rate') == None%}
                                    {{meal.get('rate')}}
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}